/* CSS styles for P1: build a portfolio*/

/* zocial font icons for the navbar */
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.navbar {
  margin-bottom: 0;
}

.nav_item {
  width: 48px;
  height: 48px;
  line-height: 1.5em;
}

.portfolio_header {
  background-color: #ffcc66;
  background-size: contain;
}

h2,
h3 {
  text-align: center;
}

a {
  font-size: 16px;
  text-transform: uppercase;
}

a:hover {
  color: blue;
}

.featured_work {
  line-height: 2em;
  padding-bottom: 20px;
  font-family: Verdana;
}

/*@media screen and (min-width: 1200px) {
  .container:last-of-type {
    width: 920px;
  }
}*/